project/ccs/Debug/
project/ccs/.settings/org.eclipse.core.resources.prefs
*.out
*.xml
*.obj
*.pp
*.launch
playground/USB-DFU_LED_PATIENT_OFF/Debug__TI/makefile
.gitignore.rej
playground/USB-DFU_LED_PATIENT_OFF/.launches/USB-DFU_LED_PATIENT_OFF.launch
playground/USB-DFU_LED_PATIENT_OFF/Debug__TI/
playground/helloWorld_TivaTM4C1233H6PM/Debug/*.*
playground/helloWorld_TivaTM4C1233H6PM/Debug/configPkg/*.*
project/ccs/.launches/*.*
dfu_load-bin.bin
dfu_load.dat
jtag_load-bin.bin
jtag_load.dat
