project/ccs/Debug/
project/ccs/.launches/aerosmith.launch
project/ccs/\.launches/*.*
project/ccs/.settings/org.eclipse.core.resources.prefs
project/ccs_os/Debug/
project/ccs_os/.launches/aerosmith.launch
project/ccs_os/\.launches/*.*
project/ccs_os/.settings/org.eclipse.core.resources.prefs
*.out
*.xml
*.obj
*.pp
*.launch
playground/USB-DFU_LED_PATIENT_OFF/Debug__TI/makefile
.gitignore.rej
playground/USB-DFU_LED_PATIENT_OFF/.launches/USB-DFU_LED_PATIENT_OFF.launch
playground/USB-DFU_LED_PATIENT_OFF/Debug__TI/
playground/helloWorld_TivaTM4C1233H6PM/Debug/*.*
playground/helloWorld_TivaTM4C1233H6PM/Debug/configPkg/*.*
playground/RadioUpdater_Firmware/Release/*.*
playground/RadioUpdater_Firmware/Debug/*.*
dfu_load-bin.bin
dfu_load.dat
jtag_load-bin.bin
jtag_load.dat
