project/ccs_os/Debug/**
project/ccs_os/.launches/aerosmith.launch
project/ccs_os/\.launches/*.*
project/ccs_os/\.config/*.*
project/ccs_os/\.config/xconfig_app/*.*
project/ccs_os/\.config/xconfig_app/package/*.*
project/ccs_os/\.config/xconfig_app/package/rel/*.*
project/ccs_os/\.config/xconfig_app/package/cfg/*.*
project/ccs_os/\.config/package/xconfig_app/*.*
project/ccs_os/\.config/package/*.*
project/ccs_os/\.config/package/cfg/*.*
project/ccs_os/\.config/.*.*
project/ccs_os/\.settings/org.eclipse.core.resources.prefs
project/ccs_os/\.settings/org.eclipse.cdt.debug.core.prefs
project/ccs_os/src/*.*
project/ccs_os/src/.*.*
project/ccs_os/src/sysbios/*
project/ccs_os/src/sysbios/*.*
*.out
*.xml
*.obj
*.opt
*.pp
*.launch
*.mk
*.mak
*.java
*.prefs
*.ccsproject
playground/USB-DFU_LED_PATIENT_OFF/Debug__TI/makefile
.gitignore.rej
playground/USB-DFU_LED_PATIENT_OFF/.launches/USB-DFU_LED_PATIENT_OFF.launch
playground/USB-DFU_LED_PATIENT_OFF/Debug__TI/
playground/helloWorld_TivaTM4C1233H6PM/Debug/*.*
playground/helloWorld_TivaTM4C1233H6PM/Debug/configPkg/*.*
playground/RadioUpdater_Firmware/Release/*.*
playground/RadioUpdater_Firmware/Debug/*.*
dfu_load-bin.bin
dfu_load.dat
jtag_load-bin.bin
jtag_load.dat
third_party/TI-RTOS/tirtos_tivac_setupwin32_2_01_00_03.exe
